<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>textAngular 1.2.0 Demo</title>

  <meta name="robots" content="noindex">

  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'>

    <style>
.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}
.red {
  color: #cc0000;
}
</style>

</head>

<body>

<div ng-app="textAngularTest" ng-controller="wysiwygeditor" class="container app">
  <h1>Editor</h1>
  <button ng-click="disabled = !disabled" unselectable>Disable text-angular Toggle</button>
  <div text-angular="text-angular" ta-toolbar="[['h1','h2','h3'],['bold','italics','colourRed', 'dumbspan']] "name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'></div>
  <h1>Raw HTML in a text area</h1>
  <textarea ng-model="htmlcontent" style="width: 100%"></textarea>
  <h1>Bound with ng-bind-html</h1>
  <div ng-bind-html="htmlcontent"></div>
  <h1>Bound with ta-bind, our internal html-binding directive</h1>
  <div ta-bind="text" ng-model="htmlcontent" ta-readonly='disabled'></div>
  <button type="button" ng-click="htmlcontent = orightml">Reset</button>
  <p>Note: although we support classes and styles, angularjs' ng-bind-html directive will strip out all style attributes.</p>
  
  <h1>Option to masquerade as a fancy text-area - complete with form submission and optional ngModel</h1>
  <text-angular name="htmlcontent" ng-model="htmlcontenttwo">
    <p>Any <b>HTML</b> we put in-between the text-angular tags gets automatically put into the editor if there  <strong style="font-size: 12pt;"><u><em>is not</em></u></strong> a value assigned to the ngModel.</p>
    <p>If there is a value assigned to the ngModel, it replaces any html here. To see this, uncomment the line at the bottom of demo.html</p>
  </text-angular>
  <h1>Bound with ta-bind, our internal html-binding directive</h1>
  <div ta-bind="text" ng-model="htmlcontenttwo" ta-readonly='disabled'></div>
  
</div>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-sanitize.min.js'></script>
  <script src='../textAngular.js'></script>

  <script type="text/javascript">
	angular.module("textAngularTest", ['textAngular']).
  config(function($provide){
    $provide.decorator('taOptions', ['taRegisterTool', '$delegate', function(taRegisterTool, taOptions){
        // $delegate is the taOptions we are decorating
        // register the tool with textAngular

        // UXTX: I believe this is configured correctly per docs here:

        // https://github.com/fraywing/textAngular/wiki/Customising-The-Toolbar#wiki-creating-and-editing-tools
        // (I edited the docs a little bit.)
        // however, it appears that the tag gets inserted without style or other attributes.
        taRegisterTool('colourRed', {
            iconclass: "fa fa-square red",
            action: function(){
              return this.$editor().wrapSelection('insertHTML', '<SPAN STYLE="COLOR: RED">');
            }
        });
        // UXTX: Apparently adding an
        // unstyled object without attributes still works.
        taRegisterTool('dumbspan', {
            iconclass: "fa fa-frown-o red",
            action: function(){
                return this.$editor().wrapSelection('formatBlock', '<div>');
            }
        });       
        // add the button to the default toolbar definition
        taOptions.toolbar[1].push('colorRed');
        taOptions.toolbar[1].push('dumbspan');
        return taOptions;
    }]);
});
	function wysiwygeditor($scope) {
		$scope.orightml = '<h2>Try me!</h2><p>textAngular is a super cool WYSIWYG Text Editor directive for AngularJS</p><p><b>Features:</b></p><ol><li>Automatic Seamless Two-Way-Binding</li><li>Super Easy <b>Theming</b> Options</li><li style="color: green;">Simple Editor Instance Creation</li><li>Safely Parses Html for Custom Toolbar Icons</li><li class="text-danger">Doesn&apos;t Use an iFrame</li><li>Works with Firefox, Chrome, and IE8+</li></ol><p><b>Code at GitHub:</b> <a href="https://github.com/fraywing/textAngular">Here</a> </p>';
		$scope.htmlcontent = $scope.orightml;
		$scope.disabled = false;

    ////
    // Masquerade perfers the scope value over the innerHTML
    // Uncomment this line to see the effect:
    // $scope.htmlcontenttwo = "Override originalContents";
	};
  </script>

</body>

</html>